.firecrawl/
.godot/
.mono/
.build_output/
.dotnet_cli/
.msbuild_sdks/
.nuget_packages/
.obsidian/
.vs/
.vscode/
.vscode/.ropeproject/
sts2-RMP-Mods/
sts2-lan-connect/release/
local-release/
NuGet.Config
**/.DS_Store
**/bin/
**/obj/
**/build/
/image*.png
*.user
*.suo
